<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        body{ text-align:center;border: 0px;margin: 0px;background-color: #F4F4F4;}
        .div{ margin:0 auto; width:1188px; height:auto;}
    </style>
</head>
<body>
<div class="div">
    <div>
        <p th:text="'hello, ' + ${name} + '!'" />
    </div>
    <div>
        <p th:text="'hello, ' + ${users} + '!'" />
    </div>


    <div>
        <p th:text="'hello, ' + ${emp.ename} + '!'" />
    </div>

</div>
</body>
</html>